@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .bg-login {
    background-image: url('/login.png'); /* ここをファイル名に合わせる！ */
    background-size: cover;
    background-position: center;
  }
}
@layer utilities {
  .bg-right-mobile { /* スマホだけ「右寄りの中心」より少し左 */
    background-position: 80% center;
  }
}